@font-face {
    font-family: 'permanent_markerregular';
    src: url('https://bytescreator.github.io/parabolherifler/fonts/permanentmarker-regular-webfont.woff2') format('woff2'),
         url('https://bytescreator.github.io/parabolherifler/fonts/permanentmarker-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Anton';
	src: url('https://bytescreator.github.io/parabolherifler/fonts/Anton-Regular.ttf');
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'QuickSand';
	src: url('https://bytescreator.github.io/parabolherifler/fonts/Quicksand-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
	min-width: 430px;
}
#MainContainer {
	min-height: 100%;
	height: 100%;
	padding-bottom: 0;
	padding: 0;
	position: relative;
}
#Footer{
	position: relative;
	background-color: black;
	height: 200px;
	width: 100%;
	bottom: -200px; /* HEader height*/
}
#FooterContainer {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}
#Navbar{
	display: inline-block;
}
#logo{
	position: relative;
	padding-left: 15px;
	width: 204px;
	height: 204px;
}
.NavbarWideMenues{
	list-style-type: none;
	display: inline;
	top: 0;
	right: 0;
	position: absolute;
}
.NavbarWideMenues a{
	text-decoration: none;
	color: black;
	display: inline-block;
	text-align: center;
	font-size : 24px;
	font-family: 'permanent_markerregular';
	list-style-type: none;
	display: inline-block;
	float: right;
	padding-right: 30px;
	padding: 70px 30px;
	position: relative;
}
.NavbarWideMenues a:hover{
	transform: rotate(5deg) scale(1.5);
	transition: transform 0.1s;
}
.NarrowMenuesButton a{
	z-index: 2;
	visibility: hidden;
	right: 0;
	top: 0;
	position: fixed;
	color: black;
	font-size: 100px;
	font-family: "permanent_markerregular";
}
.NavbarNarrowMenues {
	top: 0;
	z-index: 1;
	height: 100%;
	position: fixed;
	right: 0;
	transition: width 0.2;
	width: 40%;
	visibility: hidden;
	background: #000000;
	transition: width 0.2s;
	overflow-y: scroll;
	overflow-x: hidden;
}
.NavbarNarrowMenues div{
	width: 100%;
	text-align: center;
	font-family: "permanent_markerregular";
	padding-top: 35px;
}
.NavbarNarrowMenues a{
	text-decoration: none;
	color: white;
	width: 100%;
	height: 100%;
	font-size: 35px;
	text-shadow: 5px 0px #333333;
}
.NavbarNarrowMenues div:hover{
	transform: rotate(5deg) scale(1.5);
	transition: transform 0.1s;
}
#narrowicon{
	filter: invert(100%);
	width: 150px;
	height: 150px;
}
#narrowicon:hover {
	transform: none;
}
.ApplyContainer {
	color: white;
	float: left;
}
.ApplyContainer div{
	padding-top: 10px;
	font-family: "QuickSand";
	font-size: 17px;
}
.ContentTitle{
	-webkit-box-shadow: 0px 40px 59px -15px rgba(0,0,0,1);
	-moz-box-shadow: 0px 40px 59px -15px rgba(0,0,0,1);
	box-shadow: 0px 40px 59px -15px rgba(0,0,0,1);
	color: white;
	text-align: center;
	background: black;
	font-size: 140px;
	text-shadow: 20px 0px #333333;
	font-style: italic;
	font-family: 'Anton';
}
.ContentTextDiv{
	color: black;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	font-family: QuickSand;
	font-size: 15pt;
	padding-bottom: 50px;
	height: 0;
	transform: scaleY(0);
	transition: transform 0.2s;
	visibility: hidden;
}
.CommiteeContentTitle {
	color: black;
	text-align: left;
	width: 90%;
	font-size: 48px;
	text-shadow: 5px 0px #333;
	font-style: italic;
	font-family: 'Anton';
}

@media only screen and (max-width: 1144px){
	.NavbarWideMenues {
		visibility: hidden;
	}
	/*.NavbarNarrowMenues {
		visibility: visible;
	}*/
	.NarrowMenuesButton a{
		visibility: visible;
	}
	.ContentTextDiv{
		font-size: 25pt;
	}
}